<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:supportsRtl="true"
        >

        <service
            android:name="com.fsck.k9.mcp.McpService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            />

        <activity
            android:name="com.fsck.k9.ui.settings.mcp.McpSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.Thunderbird.DayNight"
            />

    </application>

    <queries>
        <intent>
            <!-- Used to check whether to display the "Add from Contacts" menu item in the compose screen -->
            <action android:name="android.intent.action.PICK" />
            <data
                android:mimeType="*/*"
                android:scheme="content"
                android:host="com.android.contacts"
                />
        </intent>

        <intent>
            <!-- Used by ViewIntentFinder to find the best Intent to view an attachment -->
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="content"
                />
        </intent>

        <intent>
            <!-- Used by the OpenPGP API -->
            <action android:name="org.openintents.openpgp.IOpenPgpService2" />
        </intent>

        <intent>
            <!-- Used by OpenPgpAppSelectDialog -->
            <action android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*"
                android:scheme="market"
                android:host="details"
                />
        </intent>

        <intent>
            <!-- Used by OpenPgpAppSelectDialog -->
            <action android:name="org.openintents.openpgp.IOpenPgpService" />
        </intent>
    </queries>

</manifest>
